export PAYMENTS_ADYEN_API_KEY=default
export PAYMENTS_ADYEN_CHECKOUT_API_KEY=default
export PAYMENTS_ADYEN_BASIC_AUTH_PASSWORD=AdyenPassword
export PAYMENTS_ADYEN_TERMINALS=de_ber_mit1=V400m-346776934
